// 公共样式
@primary: #43bde0;
@grey: #08a678;
@black: #192228;
@white: #ffffff;

@dark-grey: #6e7d85;
@light-grey: #627279;
@bar-bg: #dddedf;

body {
  margin: 0;
  background-color: #f0f2f5;
}

.main {
  background-color: #f2f4f6;
  padding: 16px 24px;
}
