# compiled output
/dist
/build
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

packages/server/config/config.local.yaml
packages/front/src/config/local.yaml
packages/server/config/all_kv.json
packages/server/config/all_kv_old.json
packages/server/config/global_kv.json
packages/server/config/local_kv.json