@import '../../../style/main.less';

.compare {
  &-wapper {
    margin: 0 24px;

    .common-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 24px;
        margin-bottom: 16px;
        color: @black;
      }
    }


    .diff-title {
      font-size: 16px;
      font-weight: bold;
      color: @black;
      margin: 16px 0;
    }
  }

  &-panel {
    padding: 16px;
    background-color: @white;

    :global {
      .ant-form-item {
        margin-bottom: 0 !important;
      }
    }

    .branch-title {
      height: 32px;
      line-height: 32px;
    }

    .operation {
      &.transform {
        transform: rotate(180deg);
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: @light-grey;
        height: 30px;
        cursor: pointer;

        span {
          font-size: 12px;
          padding-left: 2px;
        }
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;

        .circle {
          width: 12px;
          height: 12px;
          background-color: @white;
          border: 3px solid #43BDE0;
          border-radius: 50%;
        }

        .square {
          width: 73px;
          height: 4px;
          background-color: #43BDE0;
        }

        .trangle {
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-left: 10px solid #43BDE0;
          border-bottom: 10px solid transparent;
        }
      }
    }

    .create-merge {
      margin-top: 12px;
      text-align: right;
    }
  }
}

.diff-panel {
  margin-bottom: 20px;
  background-color: @white;

  .namespace {
    padding: 8px 0 0 16px;
    color: #627279;
    font-size: 14px;
    font-weight: bold;
  }
}

.diff-wapper {
  display: flex;

  .diff-item {
    width: 50%;

    .item-list {
      padding: 8px 0 0 16px;


      .title {
        color: @light-grey;
        font-size: 14px;
        margin-bottom: 12px;

        span {
          padding-left: 4px;
        }
      }

      .key-list {
        display: flex;
        align-items: baseline;
        margin-bottom: 16px;

        .language {
          background-color: @language-bg;
          width: 20px;
          height: 20px;
          line-height: 16px;
          text-align: center;
          color: @white;
          font-size: 12px;
          border-radius: 2px;
          margin-right: 8px;
        }

        .name {
          font-size: 16px;
          color: @black;
        }
      }
    }
  }

  .select {
    margin: 0 0 16px 16px;
  }

}